name: Test MS Graph API

on:
  workflow_dispatch:
  schedule:
    - cron: '30 * * * *'
   
jobs:
   Task:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout
      uses: actions/checkout@main
      with:
        token: ${{ secrets.GH_TOKEN }}
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.8
    - name: Test API
      env: 
        CLIENT_ID: ${{ secrets.CLIENT_ID }}
        CLIENT_SECRET: ${{ secrets.CLIENT_SECRET }}
        REFRESH_TOKEN: ${{ secrets.REFRESH_TOKEN }}
      run: | 
        pip install requests
        python test.py
    - name: Commit
      run: |
        git config user.name ${{ secrets.USER_NAME }}
        git config user.email ${{ secrets.USER_EMAIL }}
        git add README.md token.txt
        git commit --allow-empty -m "Update status"
        git push
